{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<style>
    body {
        background-image: url("{% static 'images/banner.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .card {
        background-color: rgba(255, 255, 255, 0.9);
    }
</style>

<div class="container py-5">
    <div class="text-center mb-4">
        <img src="{% static 'images/logo.jpg' %}" alt="IZEL Logo" height="80">
    </div>
    <h2 class="text-center text-white mb-4">{% trans "Bizning yo‘nalishlar" %}</h2>
    <div class="row">
        {% for tour in tours %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card shadow">
                    {% if tour.image %}
                        <img src="{{ tour.image.url }}" class="card-img-top" alt="{{ tour.direction }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-danger">{{ tour.direction }}</h5>
                        <p class="card-text">
                            📅 {{ tour.date }}<br>
                           {% trans "Qolgan joylar" %}: {{ tour.remaining_seats }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
